.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #22c55e; /* tailwind green-500 */
  transition: width 0.3s;
}

.nav-link-active::after {
  width: 100%;
}
